{% extends 'base.html' %} 
{% block header %}
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1>My Board Page</h1>
                  <span class="subheading">메인페이지 입니다.</span>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock %}

{% block content %} 
{% load static %} 
<div class="container">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Search Hasttag
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          {% for hashtag in hashtags.all %}
          <a class="dropdown-item" href="{% url 'search' hashtag.id %}">{{ hashtag.name }} </a>
          {% endfor %}
        </ul>
      </div>
</div>
  <!-- Post preview-->
  {% for blog in blogs %}
<div class="container">
    <div class="post-preview">
        <a href="{% url 'detail' blog.id %}">
            <h2 class="post-title">{{ blog.title }}</h2>
            <h3 class="post-subtitle">{{ blog.content }}</h3>
        </a>
        <p class="post-meta">
            Posted by
            {{ blog.writer }}</a>
            {{ blog.pub_date }}
        </p>
        <a class="btn btn-primary float" href="{% url 'detail' blog.id %}"> 더보기 →</a>
    </div>
</div>


{% endfor %} 

{% endblock %}






